In [1]:
# importing the required packages
import pandas as pd
import numpy as np

In [7]:
# read the dataset
data = pd.read_excel("2019 Winter Data Science Intern Challenge Data Set.xlsx")
data.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773

In [22]:
# The current average is calculated as: 
avg_w1 = data["order_amount"].sum() / data["order_amount"].count()
print(avg_w1)
# or
avg_w2 = data["order_amount"].mean()
print(avg_w2)

3145.128
3145.128

In [14]:
# While the above average is accurate, but it does not correctly reflect the real average 
# value of the orders. This is because it does not consider the number of items ordered in
# each transaction. Taking the number of items into account, we have the following for the
# average order value:

In [21]:
avg = data["order_amount"].sum() / data["total_items"].sum()
print(avg)

357.92152221412965